[build]
builder = "nixpacks"
buildCommand = "cd api && npm install && npm run build"

[deploy]
startCommand = "cd api && npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"
